.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #24292f;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 0 12px 12px 12px;
    border: solid 2px #d0c8dd;
    border-radius: 10px;
}

/* Styles de titre */
.markdown-body h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.markdown-body h2 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.markdown-body h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

/* Style de paragraphe */
.markdown-body p {
    margin: 1em 0;
}

/* Style de liste non ordonnée */
.markdown-body ul {
    list-style: disc;
    margin-left: 1.5em;
    margin-bottom: 1.2em;
}

/* Style de liste ordonnée */
.markdown-body ol {
    list-style: decimal;
    margin-left: 1.5em;
    margin-bottom: 1.2em;
}

/* Style d'élément de liste */
.markdown-body li {
    font-size: 1.1em;
    line-height: 1.4;
}

/* Style de citation */
.markdown-body blockquote {
    font-style: italic;
    border-left: 3px solid #ddd;
    margin: 1em 0;
    padding-left: 1em;
}

.markdown-body .mermaid-error {
    background-color: #ffc7c7;
    padding: 15px;
    border-radius: 10px;
    margin: 12px 0
}

.hljs {
    padding: 16px !important;
    overflow: auto;
    font-size: 85% !important;
    line-height: 1.45;
    background-color: #f6f8fa !important;
    border-radius: 6px;
    margin: 1em 0;
    white-space: pre;
}